html {
    text-align: center;
    background-image: url(img/cover-large.png);
    background-size: 100% 100%;
    background-position-y: bottom;
    background-position-x: right;
    font-family: 'Sansita Swashed', cursive;

}

h1 {
    color:rgb(100, 58, 58);
    text-shadow: 3px 3px 1px white;
    width: fit-content;
    margin: 1rem auto 1rem auto;
    font-size: 3vw;
    letter-spacing: 1vw;
    font-weight: 900;
    background: rgb(216, 191, 216);
    border-radius: 10px;
    padding: 1vw;
    box-shadow: 2px 2px 2px gray, 3px 3px 3px lightgray;
}

body {
    border: solid;
    border-radius: 50px;
    margin: auto;
    width: 50vw;
    background: white;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.329), 30px 30px 30px inset rgba(173, 173, 173, 0.329), 20px 20px 20px inset rgba(173, 173, 173, 0.103);
    background-image: url(img/cow.png);
    background-size: 100% 100%;
}

.display {
    font-size: 4rem;
    margin: 0;
    width: 70%;
    text-align: center;
    margin: auto;
    border: solid gray;
    box-shadow: 2px 2px 2px inset black;
    background: whitesmoke;
}

.digit-buttons{
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20vh 20vh 20vh;
    height: 65vh;
}

div.digit {
    border: none;
    background:none;
}

.digit,
.operator,
.equals,
.clear {
    border: solid;
    border-radius: 50%;
    padding: 2vw;
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    box-shadow: 2px 2px 2px gray, 3px 3px 3px lightgray;
}

.digit {
    margin: auto;
    background: tan;
    color: gray;
}

.digit:hover,
.operator:hover,
.equals:hover,
.clear:hover{
    box-shadow: 2px 2px 2px inset gray, 3px 3px 3px inset lightgray;
}

.operator {
    margin: auto;
    background: thistle;
    color: white;
    font-size: 3rem;
    box-shadow: 2px 2px 2px gray, 3px 3px 3px lightgray;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto 0 auto;
    height: 65vh;
    margin: auto;
    background: rgba(216, 191, 216, 0.192);
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray, 3px 3px 3px lightgray;
}

.equals-and-clear-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translateY(-7vw);
}

.equals {
    transform: translateX(-5vw);
    background: rgb(100, 58, 58);
    color: white;
    border-color: black;
}

.clear {
    transform: translateX(5vw);
    background:  rgb(100, 58, 58);
    color: white;
    border-color: black;
}

.calculator-grid-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 90% 10%;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

.equals,
.clear{
    font-weight: bold;
}
